.vgroup {

  &.-border {
    border-top: 1px solid color(border);
  }

  @each $name, $size in $spacings {
    &.-m#{$name} + & {
      margin-top: #{$size};
      &.-border {
        padding-top: #{$size};
      }
    }
  }
}
