.vg {
  &.-vgb {
    border-top: 1px solid color(border);
  }
  @each $name, $size in $spacings {
    & + &.-vg#{$name} {
      margin-top: #{$size};
      &.-vgb {
        padding-top: #{$size};
      }
    }
  }
}
