$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family: $font-family-sans-serif !default;

$font-size-root: 16 !default;
$font-sizes: (
  base: 1rem,
  small: px-to-rem(12)+rem,
  h1: px-to-rem(34)+rem,
  h2: px-to-rem(26)+rem,
  h3: px-to-rem(20)+rem
) !default;

$line-height: px-to-rem(24) !default;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$colors: (
  body: #eef0f5,
  text: #4e515d,
  border: #d9dce1,
  primary: #234196,
  secondary: #7a7a7a,
  warning: #edd341,
  success: #53b766,
  danger: #ff6745,
  info: #4e9cd8,
  disabled: #b0b0b0
) !default;

$spacings: (
  0: 0,
  1: px-to-rem(5)+rem,
  2: px-to-rem(10)+rem,
  3: px-to-rem(20)+rem,
  4: px-to-rem(40)+rem,
  5: px-to-rem(60)+rem,
  6: px-to-rem(80)+rem
) !default;
