$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;

$font-size-root: 16 !default;
$font-sizes: (
  base: 1rem,
  small: rem-font-size(12),
  h1: rem-font-size(34),
  h2: rem-font-size(26),
  h3: rem-font-size(20)
) !default;

$line-height: calc-line-height(24) !default;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$colors: (
  body: #eef0f5,
  text: #4e515d,
  border: #d9dce1,
  primary: #234196,
  secondary: #7a7a7a,
  warning: #edd341,
  success: #53b766,
  danger: #ff6745,
  info: #4e9cd8,
  disabled: #b0b0b0
) !default;
